<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [5]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [6]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.26.0
Pandas:  2.1.1

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [22]:
# wrong:
#bikes = pd.read_table('../../Data Folder/bikeshare.csv', header = None)
#print(bikes.head())
#print()

# wrong:
#bikes = pd.read_table('../../Data Folder/bikeshare.csv', header = 1)
#print(bikes.head())
#print()

# wrong:
#bikes = pd.read_table('../../Data Folder/bikeshare.csv', header = 0)
#print(bikes.head())

ANSWER:

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [2]:
#ANSWER:
bikes = pd.read_csv('../../Data Folder/bikeshare.csv')
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be dealt with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [7]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [8]:
df = pd.read_excel('../../Data Folder/Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For example, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [ ]:
#ANSWER

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [8]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-12-14T22:05:05.119Z,9.3459,126.4747,39.645,4.6,mb,45,138,2.429,0.39,...,2023-12-14T22:27:34.040Z,"32 km ENE of Cortes, Philippines",earthquake,10.19,7.766,0.084,42,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [10]:
url = 'https://www.ccra.com/airport-codes/'

df = pd.read_html(url)
df

[                City      Country Code
 0            Aalborg      Denmark  AAL
 1           Aalesund       Norway  AES
 2             Aarhus      Denmark  AAR
 3     Abbotsford, BC       Canada  YXX
 4     Abbotsford, BC       Canada  YXX
 ...              ...          ...  ...
 1574        Zanzibar     Tanzania  ZNZ
 1575        Zaragoza        Spain  ZAZ
 1576       Zhengzhou        China  CGO
 1577        Zhoushan        China  HSN
 1578          Zurich  Switzerland  ZRH

 [1579 rows x 3 columns]]

In [11]:
df[0]

                City      Country Code
0            Aalborg      Denmark  AAL
1           Aalesund       Norway  AES
2             Aarhus      Denmark  AAR
3     Abbotsford, BC       Canada  YXX
4     Abbotsford, BC       Canada  YXX
...              ...          ...  ...
1574        Zanzibar     Tanzania  ZNZ
1575        Zaragoza        Spain  ZAZ
1576       Zhengzhou        China  CGO
1577        Zhoushan        China  HSN
1578          Zurich  Switzerland  ZRH

[1579 rows x 3 columns]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here are a few examples: https://pandas.pydata.org/docs/user_guide/io.html#io-read-xml

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [12]:
url = 'https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

,name,language,id,bio,version
0,Adeel Solangi,Sindhi,V59OF92YF627HFY0,Donec lobortis eleifend condimentum. Cras dict...,6.10
1,Afzal Ghaffar,Sindhi,ENTOCR13RSCLZ6KU,"Aliquam sollicitudin ante ligula, eget malesua...",1.88
2,Aamir Solangi,Sindhi,IAKPO3R4761JDRVG,Vestibulum pharetra libero et velit gravida eu...,7.27
3,Abla Dilmurat,Uyghur,5ZVOEPMJUI4MB4EN,Donec lobortis eleifend condimentum. Morbi ac ...,2.53
4,Adil Eli,Uyghur,6VTI8X6LL0MMPJCC,"Vivamus id faucibus velit, id posuere leo. Mor...",6.49

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [13]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [14]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [15]:
#ANSWER
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [16]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this.
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [17]:
#ANSWER
bikes['season']

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [18]:
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

In [19]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

How would we use object notation to show the first 4 rows of `atemp`?

In [20]:
#ANSWER
bikes.atemp[:4]

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [24]:
#bikes[[0]]
#bikes[0]
#bikes[0,0]
#bikes[[0,0]]

What is the correct way to access the 1st row of the DataFrame by its index?

In [40]:
#ANSWER
bikes[:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [6]:
#ANSWER
bikes.iloc[:,1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [15]:
bikes.isnull()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17375,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17376,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17377,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17378,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [16]:
#ANSWER
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [18]:
#ANSWER
bikes.workingday.unique()

array([0, 1], dtype=int64)

In [21]:
bikes.duplicated().sum()

0

In [42]:
5/0

ZeroDivisionError: division by zero

What is the Numpy object `nan` used for? (Write a descriptive answer.)

In [43]:
5/np.nan

nan

?
ANSWER:

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [25]:
#ANSWER
def divide(dividend, divisor):
    if divisor == 0:
        quotient = np.nan
    else:
        quotient =dividend / divisor
        return (quotient)
print(divide(5,0))

None

Apply the Pandas `isna` function to the following data objects:

In [45]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [46]:
#ANSWER
print(pd.isna(x),pd.isna(y))

False True

In [47]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [13]:
#ANSWER
bikes.season.unique()

array([1, 2, 3, 4], dtype=int64)

In [21]:
bikes.season_level = pd.cut(bikes.season, bins = 4, labels = ['winter', 'spring', 'summer', 'autumn '])

C:\Users\samhe\AppData\Local\Temp\ipykernel_14304\1822169737.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  bikes.season_level = pd.cut(bikes.season, bins = 4, labels = ['winter', 'spring', 'summer', 'autumn '])

In [64]:
bikes.season.value_counts(normalize=True).sort_values()

season
4    0.243512
1    0.244088
2    0.253697
3    0.258703
Name: proportion, dtype: float64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [53]:
#ANSWER
bikes.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,17379.0,8690.000000,5017.029500,1.00,4345.5000,8690.0000,13034.5000,17379.0000
season,17379.0,2.501640,1.106918,1.00,2.0000,3.0000,3.0000,4.0000
yr,17379.0,0.502561,0.500008,0.00,0.0000,1.0000,1.0000,1.0000
mnth,17379.0,6.537775,3.438776,1.00,4.0000,7.0000,10.0000,12.0000
hr,17379.0,11.546752,6.914405,0.00,6.0000,12.0000,18.0000,23.0000
holiday,17379.0,0.028770,0.167165,0.00,0.0000,0.0000,0.0000,1.0000
weekday,17379.0,3.003683,2.005771,0.00,1.0000,3.0000,5.0000,6.0000
workingday,17379.0,0.682721,0.465431,0.00,0.0000,1.0000,1.0000,1.0000
weathersit,17379.0,1.425283,0.639357,1.00,1.0000,1.0000,2.0000,4.0000
temp,17379.0,0.496987,0.192556,0.02,0.3400,0.5000,0.6600,1.0000
atemp,17379.0,0.475775,0.171850,0.00,0.3333,0.4848,0.6212,1.0000
hum,17379.0,0.627229,0.192930,0.00,0.4800,0.6300,0.7800,1.0000
windspeed,17379.0,0.190098,0.122340,0.00,0.1045,0.1940,0.2537,0.8507
casual,17379.0,35.676218,49.305030,0.00,4.0000,17.0000,48.0000,367.0000
registered,17379.0,153.786869,151.357286,0.00,34.0000,115.0000,220.0000,886.0000
cnt,17379.0,189.463088,181.387599,1.00,40.0000,142.0000,281.0000,977.0000

Compute and print the overall minimum and maximum of the numeric data columns:

In [55]:
bikes_min, bikes_max = (min(bikes.min(numeric_only=True)), max(bikes.max(numeric_only=True)))
bikes_min, bikes_max

(0.0, 17379.0)

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [26]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [60]:
#ANSWER
bikes.atemp.quantile((0.10,0.25,0.50,0.75,0.90))

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [17]:
type(bikes['atemp'])

pandas.core.series.Series

In [18]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
13346,13347,2012-07-15,3,1,7,7,0,0,0,1,0.70,0.6667,0.79,0.0896,17,30,47
12576,12577,2012-06-13,2,1,6,5,0,3,1,1,0.60,0.5606,0.83,0.1940,2,38,40
3588,3589,2011-06-03,2,0,6,10,0,5,1,1,0.62,0.6212,0.33,0.2537,54,107,161
5976,5977,2011-09-11,3,0,9,13,0,0,0,1,0.74,0.6818,0.58,0.1045,119,231,350
4797,4798,2011-07-23,3,0,7,19,0,6,0,2,0.82,0.8030,0.59,0.1343,80,137,217

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indicates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [30]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [33]:
#ANSWER
print(type(atemp_level))

<class 'pandas.core.series.Series'>

Here is a random sample of `atemp_level`:

In [32]:
atemp_level.sample(5)

3810       (0.5, 0.75]
160     (-0.001, 0.25]
6222       (0.5, 0.75]
6508       (0.25, 0.5]
6608       (0.25, 0.5]
Name: atemp, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [24]:
bikes = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

12726    warm
6514     mild
14656    warm
4485     warm
10082    mild
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

In [34]:
bikes.season_name = pd.cut(bikes.season, bins = 4, labels = ['winter', 'spring', 'summer', 'autumn '])
season_name.sample(5)

C:\Users\samhe\AppData\Local\Temp\ipykernel_16036\1119568814.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  bikes.season_name = pd.cut(bikes.season, bins = 4, labels = ['winter', 'spring', 'summer', 'autumn '])

NameError: name 'season_name' is not defined

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [35]:
#ANSWER
bikes['atemp_level']=atemp_level

In [36]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,atemp_level
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16,"(0.25, 0.5]"
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40,"(0.25, 0.5]"
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32,"(0.25, 0.5]"
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13,"(0.25, 0.5]"
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1,"(0.25, 0.5]"

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initialise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [36]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

## Load Data

Load rock.csv and clean the dataset.

In [37]:
# ANSWER
rock = pd.read_csv('../../Data Folder/rock.csv')

## Check Column Names

Check column names and clean.

In [38]:
rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [39]:
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [40]:
# ANSWER
rock.columns = rock.columns.str.replace(' ','_').str.replace('*','').str.replace('?','').str.lower().str.strip()

In [41]:
rock.head()

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

## Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [42]:
rock.isnull().sum()

song_clean        0
artist_clean      0
release_year    577
combined          0
first             0
year              0
playcount         0
fg                0
dtype: int64

In [43]:
# ANSWER
rock.release_year.isnull().sum()

577

In [44]:
rock[rock.release_year.isnull()]

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
...,...,...,...,...,...,...,...,...
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0

In [45]:
rock['release_year'].fillna(0,  inplace = True)

In [46]:
rock.isnull().sum()

song_clean      0
artist_clean    0
release_year    0
combined        0
first           0
year            0
playcount       0
fg              0
dtype: int64

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [47]:
# ANSWER
rock.dtypes

song_clean      object
artist_clean    object
release_year    object
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

In [48]:
rock[rock.release_year== 'SONGFACTS.COM']=0

In [55]:
#wrong
#rock.loc[rock.release_year== 'SONGFACTS.COM','release_year'].fillna(0 , inplace=True)

In [49]:
rock.release_year = rock.release_year.astype('int')

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [50]:
# ANSWER
rock.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,2230.0,1465.331390,867.196161,0.0,0.0,1973.0,1981.0,2014.0
first,2230.0,0.999552,0.021176,0.0,1.0,1.0,1.0,1.0
year,2230.0,0.740807,0.438290,0.0,0.0,1.0,1.0,1.0
playcount,2230.0,16.872197,25.303262,0.0,1.0,4.0,21.0,142.0
fg,2230.0,15.047982,25.288624,0.0,0.0,3.0,18.0,142.0

In [51]:
rock[rock.release_year!=0].min()

song_clean                     #9 Dream
artist_clean                .38 Special
release_year                       1071
combined        #9 Dream by John Lennon
first                                 1
year                                  1
playcount                             0
fg                                    0
dtype: object

In [52]:
rock[rock.release_year != 0].release_year.max()

2014

In [73]:
rock.loc[rock.release_year == 1071,'release_year'] = 0

In [74]:
rock[rock.release_year!= 0].min()

song_clean                     #9 Dream
artist_clean                .38 Special
release_year                       1955
combined        #9 Dream by John Lennon
first                                 1
year                                  1
playcount                             1
f_g                                   1
dtype: object

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [53]:
# ANSWER
rock.head(1)

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82

In [58]:
def song(row):
    if row['release_year'] <  1970 :
        print(f'{row.song_clean}, {row.artist_clean} , it was releasd in 1970')
    elif row['release_year'] == 0:
        print(f'{row.song_clean}, {row.artist_clean} , the release year is unkown')
    else:
        print(f'{row.song_clean}, {row.artist_clean} ,  it was releasd after 1970')

In [59]:
song(rock.iloc[100])

One Way Out, Allman Brothers Band , it was releasd in 1970

In [62]:
def check_song(row):
    print(f'Song: {row.song_clean}')
    print(f'Artist:{row.artist_clean}')
    print(f'Released before 1970: {row.release_year < 1970}')
    print('\n')

In [64]:
check_song(rock.iloc[100])

Song: One Way Out
Artist:Allman Brothers Band
Released before 1970: True

In [78]:
def song(row):
    print('Song :' , row.song_clean)
    print('Artist : ' , row.artist_clean)
    print('release year less than 1970: ' , row.release_year < 1970)

In [92]:
song(rock.iloc[100])

Song : One Way Out
Artist :  Allman Brothers Band
release year less than 1970:  True

In [102]:
rock2 =rock.head(10).apply(song,axis = 1)

Song : Caught Up in You
Artist :  .38 Special
release year less than 1970:  False
Song : Fantasy Girl
Artist :  .38 Special
release year less than 1970:  True
Song : Hold On Loosely
Artist :  .38 Special
release year less than 1970:  False
Song : Rockin' Into the Night
Artist :  .38 Special
release year less than 1970:  False
Song : Art For Arts Sake
Artist :  10cc
release year less than 1970:  False
Song : Kryptonite
Artist :  3 Doors Down
release year less than 1970:  False
Song : Loser
Artist :  3 Doors Down
release year less than 1970:  False
Song : When I'm Gone
Artist :  3 Doors Down
release year less than 1970:  False
Song : What's Up?
Artist :  4 Non Blondes
release year less than 1970:  False
Song : Take On Me
Artist :  a-ha
release year less than 1970:  False

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

### Apply this last function to your dataset

In [103]:
def convert_to_numeric(column):
    column=pd.to_numeric(column, errors = 'coerce' )
    return column

In [104]:
rock2 = rock.apply(convert_to_numeric, axis = 0)

### 'Describe' the new DataFrame

In [105]:
# ANSWER
rock2.dtypes

song_clean      float64
artist_clean    float64
release_year      int32
combined        float64
first             int64
year              int64
playcount         int64
f_g               int64
dtype: object

In [101]:
rock2.describe().T

,count,mean,std,min,25%,50%,75%,max
song_clean,3.0,674.666667,1129.809866,0.0,22.5,45.0,1012.0,1979.0
artist_clean,1.0,0.000000,NaN,0.0,0.0,0.0,0.0,0.0
release_year,2230.0,1393.295067,903.605687,0.0,0.0,1973.0,1981.0,2014.0
combined,1.0,0.000000,NaN,0.0,0.0,0.0,0.0,0.0
first,2230.0,0.999552,0.021176,0.0,1.0,1.0,1.0,1.0
year,2230.0,0.740807,0.438290,0.0,0.0,1.0,1.0,1.0
playcount,2230.0,16.872197,25.303262,0.0,1.0,4.0,21.0,142.0
f_g,2230.0,15.047982,25.288624,0.0,0.0,3.0,18.0,142.0

>



---



---



> > > > > > > > > © 2023 Institute of Data


---



---