<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
# get matplot to show charts inline
%matplotlib inline

chrome://settings/content/cookies

NOTE: Make sure third party cookies are not blocked.

In [34]:
df = pd.read_csv("../../Data Folder/Employee-attrition.csv")

In [35]:
df.head(10)

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
5,1318,12/31/2011 0:00,1/3/1954,8/28/1989,1/1/1900,57,22,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2011,ACTIVE,HEADOFFICE
6,1318,12/31/2012 0:00,1/3/1954,8/28/1989,1/1/1900,58,23,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2012,ACTIVE,HEADOFFICE
7,1318,12/31/2013 0:00,1/3/1954,8/28/1989,1/1/1900,59,24,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2013,ACTIVE,HEADOFFICE
8,1318,12/31/2014 0:00,1/3/1954,8/28/1989,1/1/1900,60,25,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE
9,1318,12/31/2015 0:00,1/3/1954,8/28/1989,1/1/1900,61,26,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE

In [ ]:
df.tail()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

# Accessing the main DataFrame components

In [6]:
columns = df.columns
index = df.index
data = df.values

In [ ]:
columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [7]:
index

RangeIndex(start=0, stop=49653, step=1)

In [8]:
data

array([[1318, '12/31/2006 0:00', '1/3/1954', ..., 2006, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2007 0:00', '1/3/1954', ..., 2007, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2008 0:00', '1/3/1954', ..., 2008, 'ACTIVE',
        'HEADOFFICE'],
       ...,
       [8279, '12/1/2015 0:00', '7/18/1994', ..., 2015, 'TERMINATED',
        'STORES'],
       [8296, '12/1/2013 0:00', '9/2/1994', ..., 2013, 'TERMINATED',
        'STORES'],
       [8321, '12/1/2014 0:00', '11/28/1994', ..., 2014, 'TERMINATED',
        'STORES']], dtype=object)

# 1. Understanding Data Types

#### 1.A Find the shape of the dataframe

In [45]:
# A:
df.shape

(49653, 18)

#### 1.B Find the data types of the dataframe

In [46]:
# A:
type(df)

pandas.core.frame.DataFrame

#### 1.C Find the number of data types in the dataframe



```
Expected Output:
int64      5
object    13
dtype: int64
```

In [48]:
df.dtypes.value_counts()

object    13
int64      5
Name: count, dtype: int64

In [42]:
df.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
gender_full            object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

#### 1.D Use Info

Use info and explore the difference.

In [14]:
# A:
df.info

<bound method DataFrame.info of        EmployeeID   recorddate_key birthdate_key orighiredate_key  \
0            1318  12/31/2006 0:00      1/3/1954        8/28/1989
1            1318  12/31/2007 0:00      1/3/1954        8/28/1989
2            1318  12/31/2008 0:00      1/3/1954        8/28/1989
3            1318  12/31/2009 0:00      1/3/1954        8/28/1989
4            1318  12/31/2010 0:00      1/3/1954        8/28/1989
...           ...              ...           ...              ...
49648        8258   12/1/2015 0:00     5/28/1994        8/19/2013
49649        8264    8/1/2013 0:00     6/13/1994        8/27/2013
49650        8279   12/1/2015 0:00     7/18/1994        9/15/2013
49651        8296   12/1/2013 0:00      9/2/1994        10/9/2013
49652        8321   12/1/2014 0:00    11/28/1994       11/24/2013

      terminationdate_key  age  length_of_service    city_name  \
0                1/1/1900   52                 17    Vancouver
1                1/1/1900   53                 18    Vancouver
2                1/1/1900   54                 19    Vancouver
3                1/1/1900   55                 20    Vancouver
4                1/1/1900   56                 21    Vancouver
...                   ...  ...                ...          ...
49648          12/30/2015   21                  2    Valemount
49649           8/30/2013   19                  0    Vancouver
49650          12/30/2015   21                  2   White Rock
49651          12/31/2013   19                  0      Kelowna
49652          12/30/2014   20                  1  Grand Forks

        department_name     job_title  store_name gender_short gender_full  \
0             Executive           CEO          35            M        Male
1             Executive           CEO          35            M        Male
2             Executive           CEO          35            M        Male
3             Executive           CEO          35            M        Male
4             Executive           CEO          35            M        Male
...                 ...           ...         ...          ...         ...
49648             Dairy  Dairy Person          34            M        Male
49649  Customer Service       Cashier          44            F      Female
49650  Customer Service       Cashier          39            F      Female
49651  Customer Service       Cashier          16            F      Female
49652  Customer Service       Cashier          13            F      Female

      termreason_desc   termtype_desc  STATUS_YEAR      STATUS BUSINESS_UNIT
0      Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
1      Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
2      Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
3      Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
4      Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
...               ...             ...          ...         ...           ...
49648          Layoff     Involuntary         2015  TERMINATED        STORES
49649      Resignaton       Voluntary         2013  TERMINATED        STORES
49650          Layoff     Involuntary         2015  TERMINATED        STORES
49651      Resignaton       Voluntary         2013  TERMINATED        STORES
49652          Layoff     Involuntary         2014  TERMINATED        STORES

[49653 rows x 18 columns]>

# 2. Selecting Column in Data Frame

In [15]:
df["STATUS"]

0            ACTIVE
1            ACTIVE
2            ACTIVE
3            ACTIVE
4            ACTIVE
            ...
49648    TERMINATED
49649    TERMINATED
49650    TERMINATED
49651    TERMINATED
49652    TERMINATED
Name: STATUS, Length: 49653, dtype: object

#### 2.A Check Values of the `job_title` column

In [19]:
# A:
job_title =df["job_title"]
print(job_title.values)

['CEO' 'CEO' 'CEO' ... 'Cashier' 'Cashier' 'Cashier']

#### 2.B Find how many rows are in each job title



```
# Expected Output
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
.
.
.
```

In [20]:
job_title.value_counts()

job_title
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
Baker                              8096
Cashier                            6816
Shelf Stocker                      5622
Customer Service Manager            306
Processed Foods Manager             289
Bakery Manager                      285
Meats Manager                       285
Produce Manager                     278
Store Manager                       271
Recruiter                            62
HRIS Analyst                         55
Accounting Clerk                     50
Benefits Admin                       35
Labor Relations Analyst              30
Accounts Receiveable Clerk           30
Trainer                              26
Accounts Payable Clerk               25
Auditor                              20
Systems Analyst                      20
Investment Analyst                   20
Compensation Analyst                 20
Corporate Lawyer                     17
CEO                                  10
Exec Assistant, VP Stores            10
Legal Counsel                        10
VP Stores                            10
VP Human Resources                   10
VP Finance                           10
Director, Recruitment                10
Exec Assistant, Finance              10
Exec Assistant, Human Resources      10
CHief Information Officer            10
Exec Assistant, Legal Counsel        10
Director, Accounts Payable            9
Director, Accounts Receivable         9
Director, Employee Records            9
Director, HR Technology               9
Dairy Manager                         9
Director, Accounting                  9
Director, Investments                 4
Director, Labor Relations             4
Director, Compensation                4
Director, Audit                       4
Director, Training                    4
Name: count, dtype: int64

#### 2.C [BONUS] Write a function to count the number of rows


```
def row_count(column_name):
    number_of_rows = 0
    return number_of_rows
```

#### 2.D Describe `age`

Find the count, mean, std, min, max of the column 'age'

In [26]:
# A:
age = df["age"]
print(age.describe())

count    49653.000000
mean        42.077035
std         12.427257
min         19.000000
25%         31.000000
50%         42.000000
75%         53.000000
max         65.000000
Name: age, dtype: float64

##### 2.E [BONUS] Describe all numeric columns of the dataframe

Find the count, mean, std, min, max of all columns of the dataframe

In [27]:
# A:
df.select_dtypes(include = np.number).describe()

,EmployeeID,age,length_of_service,store_name,STATUS_YEAR
count,49653.000000,49653.000000,49653.000000,49653.000000,49653.000000
mean,4859.495740,42.077035,10.434596,27.297605,2010.612612
std,1826.571142,12.427257,6.325286,13.514134,2.845577
min,1318.000000,19.000000,0.000000,1.000000,2006.000000
25%,3360.000000,31.000000,5.000000,16.000000,2008.000000
50%,5031.000000,42.000000,10.000000,28.000000,2011.000000
75%,6335.000000,53.000000,15.000000,42.000000,2013.000000
max,8336.000000,65.000000,26.000000,46.000000,2015.000000

# 3. Make the index meaningful by making `EmployeeID` the index

In [ ]:
# A:

#### 3.A Find a specific row using the index

In [51]:
# A:
df.set_index("EmployeeID", inplace = True)

In [52]:
df

,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
EmployeeID,,,,,,,,,,,,,,,,,
1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

In [67]:
df[(df['department_name'] == 'Meats') & (df['city_name'] == 'Kelowna')]

,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
EmployeeID,,,,,,,,,,,,,,,,,
1374,12/31/2006 0:00,4/6/1949,10/17/1989,4/6/2009,57,17,Kelowna,Meats,Meats Manager,16,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,STORES
1374,12/31/2007 0:00,4/6/1949,10/17/1989,4/6/2009,58,18,Kelowna,Meats,Meats Manager,16,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,STORES
1374,12/31/2008 0:00,4/6/1949,10/17/1989,4/6/2009,59,19,Kelowna,Meats,Meats Manager,16,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,STORES
1548,12/31/2006 0:00,2/23/1950,4/5/1990,2/23/2015,56,16,Kelowna,Meats,Meat Cutter,16,F,Female,Not Applicable,Not Applicable,2006,ACTIVE,STORES
1548,12/31/2007 0:00,2/23/1950,4/5/1990,2/23/2015,57,17,Kelowna,Meats,Meat Cutter,16,F,Female,Not Applicable,Not Applicable,2007,ACTIVE,STORES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2674,2/1/2007 0:00,2/11/1942,8/19/1993,2/11/2007,65,13,Kelowna,Meats,Meat Cutter,16,F,Female,Retirement,Voluntary,2007,TERMINATED,STORES
2766,11/1/2008 0:00,12/23/1956,11/12/1993,11/22/2008,51,15,Kelowna,Meats,Meat Cutter,16,F,Female,Resignaton,Voluntary,2008,TERMINATED,STORES
2862,8/1/2007 0:00,8/7/1942,2/12/1994,8/7/2007,65,13,Kelowna,Meats,Meat Cutter,16,F,Female,Retirement,Voluntary,2007,TERMINATED,STORES
2937,10/1/2007 0:00,10/25/1942,5/2/1994,10/25/2007,65,13,Kelowna,Meats,Meat Cutter,16,F,Female,Retirement,Voluntary,2007,TERMINATED,STORES
3093,3/1/2008 0:00,3/20/1943,9/25/1994,3/20/2008,65,13,Kelowna,Meats,Meat Cutter,16,F,Female,Retirement,Voluntary,2008,TERMINATED,STORES

In [57]:
df.department_name.value_counts()

department_name
Meats                     10269
Dairy                      8599
Produce                    8515
Bakery                     8381
Customer Service           7122
Processed Foods            5911
Store Management            271
Executive                   100
Recruitment                  72
HR Technology                64
Accounting                   59
Employee Records             44
Accounts Receiveable         39
Labor Relations              34
Accounts Payable             34
Training                     30
Compensation                 24
Audit                        24
Investment                   24
Information Technology       20
Legal                        17
Name: count, dtype: int64

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49653 entries, 1318 to 8321
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   recorddate_key       49653 non-null  object
 1   birthdate_key        49653 non-null  object
 2   orighiredate_key     49653 non-null  object
 3   terminationdate_key  49653 non-null  object
 4   age                  49653 non-null  int64
 5   length_of_service    49653 non-null  int64
 6   city_name            49653 non-null  object
 7   department_name      49653 non-null  object
 8   job_title            49653 non-null  object
 9   store_name           49653 non-null  int64
 10  gender_short         49653 non-null  object
 11  gender_full          49653 non-null  object
 12  termreason_desc      49653 non-null  object
 13  termtype_desc        49653 non-null  object
 14  STATUS_YEAR          49653 non-null  int64
 15  STATUS               49653 non-null  object
 16  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(4), object(13)
memory usage: 6.8+ MB

In [49]:
df.job_title

0                 CEO
1                 CEO
2                 CEO
3                 CEO
4                 CEO
             ...
49648    Dairy Person
49649         Cashier
49650         Cashier
49651         Cashier
49652         Cashier
Name: job_title, Length: 49653, dtype: object

#### 3.B Sort the dataframe using the index

In [ ]:
# A:

#### 3.C [BONUS] Sort the dataframe using `age`

In [ ]:
# A:

#### 3.D [BONUS] Using `sample` select any row

In [ ]:
# A:

# 4. Query Data Frame

#### 4.A Find rows Where `job_title` is CEO

In [33]:
# A:
job_title_ceo = df[df["job_title"] == "CEO"]
print(job_title_ceo)

KeyError: 'job_title'

#### 4.B Group by `age` and find how many there are of each age

In [ ]:
# A:

# 5. Visualisation


#### 5.A Plot a histogram of `age`

In [ ]:
# A:
plt.hist(

#### 5.B BoxPlot of `age`

In [ ]:
# A:

#### 5.C Create a scatterplot of `age` and `length_of_service`

In [ ]:
# A:

#### 5.D Print a statistical summary of `age`

In [ ]:
# A:



---



---



> > > > > > > > > © 2023 Institute of Data


---



---